# Flutter/Dart specific files
*.dart_tool/
*.packages
.pub-cache/
build/

# iOS specific files
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/

# Android specific files
android/.gradle/
android/app/build/
.android/

# Firebase configuration files
**/google-services.json
**/GoogleService-Info.plist

# General files to ignore
.DS_Store

# Package files
pubspec.lock
